<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Image Piker Experiment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D35361371CBD36210019DB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D353614B1CBD36220019DB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D35361561CBD36220019DB2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
